@mixin reset_VerticalAlign {
    display: table !important; width: 100%;
}

@mixin reset_VerticalAlignMiddle {
    display: table-cell; vertical-align: middle;
}

@mixin ClearFloat {
    float: left; width: 100%;
}

@mixin ClearFlex_Row {
    display:flex; flex-direction: row;
}

@mixin ClearFlex_Column {
    display:flex; flex-direction: column;
}

@mixin ClearUlLi {
    margin:0; padding:0; list-style: none;
}